*{
    padding: 0px;
}

#title-createpost{
    color: white;
    font-size: 25px;
}

#menu{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
}

/* Style du formulaire de récupération */
.form-createpost input{

    color : white;
    background-color: rgba(0, 0, 0, 0.15);
    font-size : 16px;
    text-align: center;
    outline-style: none;
    
    border-color : rgb(146, 36, 144);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding : 10px; 
}

#message-post{
    outline-style: none;
    overflow: auto;
    height: 200px;
    text-overflow: ellipsis;
    resize: none;

    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    border-color : rgb(146, 36, 144);
    
    color: white;
    font: 1.25em "Trebuchet MS", helvetica, sans-serif ;


    
}

form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 400px;
    /* Encadré pour voir les limites du formulaire */
    padding: 3em;
    /* border: 4px solid  rgb(146, 36, 144);*/
    border-radius: 1em;
    background: linear-gradient(to bottom right, rgb(90, 43, 155), rgb(139, 52, 144));
 }
  
    /* Réglage l'espace entre chaque input */
    form div {
        margin: 1em;
    }
  
  
  input, textarea {
    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing:border-box;
    /* Pour harmoniser le look & feel des bordures des champs texte */
    /* border: 1px solid #999; */
  }

  input::placeholder{
      color: white;
  }

  #forgot-password{
      text-decoration: none;

      color:rgb(179, 179, 179);
  }
    
  #to-register{
    text-decoration: none;
    color:rgb(179, 179, 179);
  }


  @media screen and (max-width: 500px){
    form{
        background: none;
        width: 100%;
    }
    form div {
        margin: 2em;
    }
  }