@import url(/styles/header.css);
@import url(/styles/menu-phone.css);

html, body {
    margin: 0 ;
    padding: 0 ;
    text-align: center ;
    font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
    background: #fafafa;
}

  #contenu {
    display: flex;
    justify-content: center;
  }

  #posts {
    width: 500px;
    overflow: hidden;
    border: 1px solid #ab4 ;
    background-color: white;
  }