/* Mise en place du footer */
footer{
    font-family:"Roboto",sans-serif;
    font-size:medium;
    color : white;
    background:rgb(90, 44, 168, 0.4);

    display: flex;
    position: relative;
    /* flex-direction: row; */
    justify-content: center;

    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

#logo{
    width: 20%;
    height: auto;
}


