*{
    margin: 0px;
    padding: 0px;
}




nav{
    width : 100%;
    margin : 0 auto;
    background-color: rgb(0, 0, 0);
    position : sticky;
    top : 0px;
}

#deroulant, #deroulant ul{
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
}
#deroulant li{
    display:inline-block;
    position:relative;
    width : 20%;
}
#deroulant li ul li{
    width: auto;
}
#deroulant ul li{
    display:inherit;
}
#deroulant ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: 0.8s all .3s;
    background-color: rgb(247, 1, 1);
}
/*survol curseur*/
#deroulant li:hover ul{
    max-height:15em;
}
/* les a href */
#deroulant a{
    text-decoration:none;
    display:block;
    padding:12px 72px;
    color : white;
    font-family:arial;
    font-family: 'Oswald', sans-serif;
}
#deroulant ul a{
    padding:10px 0;
    font-family: 'Oswald', sans-serif;
}

/*Tout le menu deroulant : fin */